.btnGame{
   margin-left: 62px;
    height: 36px;
    padding: 2px;
    background: darkorchid;
    border-radius: 15px;
    outline: none;
    border: 0;
    color: white;
    width: 85px;
    font-weight: bold;
    cursor: pointer;
}
.winner{
  color: #006400;
  color: #000080;
  padding-left: 32px;
  padding-right: 30px;
  font-size: 19px;
  font-weight: bold;
}

.h1Game{
  text-align: center;
  padding: 5px;
  margin-top: 65px;
  font-size: 40px;
  color: red;
  font-weight: 800;
}